name: Android CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: sudo ./gradlew build
    - name: Archive lint results
      uses: actions/upload-artifact@v2.2.3
      with:
        name: lint-results
        path: app/build/reports/lint-results.html
 
